
{% extends "home_page.html" %}
{% load staticfiles %}
{% block title %}Election Map{% endblock %}

<!-- CSS -->
{% block extra_css %}
  <style>
    .background {
      fill: none;
      pointer-events: all;
    }
    #state-borders {
      fill: none;
      stroke: #fff;
      stroke-width: 1px;
      stroke-linejoin: round;
      stroke-linecap: round;
      pointer-events: none;
    }
    #states {
      fill: #aaa;
    }

    #states .active {
      fill: orange;
    }
    #map_svg {
      /*margin-left:-10px;*/
    }
  </style>
{% endblock %}



{% block content %}
  <div class="col-md-9" id = "map">
    <!-- Map SVG will go here -->
  </div>
  <div class="col-md-3" id="map_menu">
  <h4 style="padding-left: 10px">Click a state to view results (scaled by Obama %)</h4>
  


    <!-- <label for="state_select">Search State:</label>
      <select class="form-control" id = "state_select"><option value =""></option>
          {% for state in states%}
            <option value="{{state.abbrev}}"> {{state.name}} - {{state.abbrev}} </option>
          {% endfor %}
      </select>
    <label for="district_search">Search District:</label>
      <select class="form-control" id = "district_search"><option value=""></option>
          {% for state in states %}
            <optgroup label="{{state.name}}" id = "{{state.abbrev}}"> 
            {% for district in districts_list %}
                {% if district.state.abbrev == state.abbrev %}
                  <option class = "dist_{{district.state.abbrev}}" value = "dist_{{district.fips_code}}"> {{district.state.abbrev}}-{{district.number}} </option>
                {% endif %}
            {% endfor %}  
            </optgroup>
          {% endfor %}  
        </select>
      <label for="poll_select">Select Pollster:</label>
      <select class="form-control" id = "poll_select"><option value =""></option>
          {% for state in states%}
            <option value="{{state.abbrev}}"> {{state.name}} - {{state.abbrev}} </option>
          {% endfor %}
      </select> -->
  </div>




  </div>
{% endblock %}

{% block extra_js %}
  <script type="text/coffeescript" src="{% static 'coffee/map.coffee' %}"></script>
{% endblock %}

